<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>

<div class="w-100 vh-100 relative" id="desktop">
  <nav class="absolute top-0 left-0 right-0 flex items-center pv2 ph4">
    <img class="logo mr4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABmJLR0QA/wD/AP+gvaeTAAACPklEQVR4nO3dYU4CMRCG4anX0HgeCffgTp7E+7jcY/whiQm2QJd2v+n2fX6KId39cDsMs2gGAMAg3P3o7mf/s7j7Qb2uaVxO+LVv9brWSuoF1HJ3z/08pTTcsZiZvagXMDsCECMAsbABZKodL13/L79/bYjqKOzG5e6Lmb09+TRLSum9xXp6iRxA8dVeI3p1FPYSNAsCECMAMQIQIwAxAhAjADECECMAMXkAtT2fFc8fukckf5veqOdTK0yPKEIAzV7tNaL0iOSXoNkRgBgBiP27Drr70cw+zex1++Xs0tnMTimlr9yDuQAUVcneFauuXACSqmTvSlUXe4AYAYgRgBgBiBGAGAGIEYBYLoDz5qvYv6X0QC6AkxFCS4v9ntOsh3vivEN+TO3nDOwBYgQgRgBiNQGwMd9XrHZKagKgOrrtZrVT8vRkwKzVUaupCvYAMQIQIwCxFgHMuDFXVzslLQKYrTpaVe2UdJuP3Et11HuGlD1AjADECECMAMQIQOzpAHrf46XW+x6zFs24Gaepm91jRjd0JbqhO0EAYgQgRgBiBCBGAGIEIEYAYgQg9nAAUXo+qWDrdbTqEdWMp4fo+ZROdpCWSHWPaLj7A4IHwP0BoxktgFvzOEOOxowUwL15nCHnk+R7gOq726Icz0h/AbtEAGIEIKYOoNmU8QohNmxlAE2njFcIUTV1q4KifDPts3oft/oSND0CECMAsV53yiurm9ZiHLe7Hzz/36yvfbv7R7eFbGzW4wYAAADQzw+LaLgPHwZorQAAAABJRU5ErkJggg==">
    <a class="white link no-underline f7 mr4 b" href="#">{{activeWindowTitle}}</a>
    <a class="white link no-underline f7 mr4" href="https://github.com/guilhemguilhem/guilhemguilhem">Code</a>
    <a class="white link no-underline f7 mr4" href="#">Contact (EN COURS)</a>
  </nav>
  <div class="restrictor absolute right-2 bottom-2 left-2">
    <transition-group name="fade">
      <draggable-window :id="window.id" v-if="window.isShowing" v-for="(window, $index) in windows" :key="$index" :content="window.comp" :title="window.title" :index="window.id">
        {{ window.content }}
      </draggable-window>
    </transition-group>
  </div>
  <div class="absolute top-0 right-0 bottom-0 h-100 flex flex-column pa4">
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('propos')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon me"></figure>
        <h4 class="ma0">Moi</h4>
      </button>
    </div>
    <br>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('comp')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon home"></figure>
        <h4 class="ma0">Compétences</h4>
      </button>
    </div>
    <br>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('parcours')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon writing"></figure>
        <h4 class="ma0">Parcours</h4>
      </button>
    </div>
    <br>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('pentest')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon calendar"></figure>
        <h4 class="ma0">Pentesting</h4>
      </button>
    </div>
<br>
  </div>
  <div class="flex items-center pv4 flex-column pa4 absolute" >
    <button class="flex-auto bn bg-transparent" @click="openWindow('disclaimer')">
      <figure class="mt0 mh0 mb3 w3 h3 db center icon disclaimer"></figure>
      <h4 class="ma0">Disclaimer</h4>
    </button>
  </div>
</div>

<script type="x/template" id="draggable-window">
	<div :id="id" class="window absolute bg-white ba bw2 b--black">
    <div class="bb b--black bw2 flex items-center pa1">
      <button @click="closeWindow" class="bg-transparent bn dim flex items-center">
				<!-- Bauhaus FTW -->
      	<i class="material-icons mr1 f5">change_history</i>
        <i class="material-icons mr1 f5">crop_square</i>
        <i class="material-icons f6">radio_button_unchecked</i>
      </button>
    </div>
    <div class="pa3">
    	<div :is="content"></div>
    </div>
  </div>
</script>

<script type="text/x-template" id="propos-template">
	<div class="measure">
  	<p class="mt0">Je suis Guilhem FERREIRA</span></p>
    <p> Passionné d'informatique depuis tout petit, j'aime apprendre et découvrir de nouvelles choses peux importe le sujet. Je suis quelqu'un de très curieux et qui s'adapte vite à un nouvel environement de travail.
      La majeure partie de mes compétences vienent de mon apprentissage en auto-didacte. </p>
    <p>Voici le lien de mon ancien <a class="dark-pink link no-underline" href="https://guilhemguilhem.github.io/Portfolio/index.html" target="_blank">Portfolio</a></p>
</script>

<script type="text/x-template" id="comp-template">
	<div class="measure">
  	<p class="mt0">Programmation: HTML, CSS, Javascript ainsi que des bases en Python & en SQL. <br> <br>
      Compétences réseaux: Active directory, Pentesting, Création de structures informatiques. <br> <br>
      Compétences Informatiques: Configuration et installation d'OS, de poste et de logiciels informatiques, Réparations de PC (matérielle ou logiciel).</p>
  </div>
</script>
<script type="text/x-template" id="parcours-template">
	<div class="measure">
  	<p class="mt0">🎓 2016-2017 - Brevet des Colleges mention Bien.<br> <br>
      🎓 2017-2020 - Bac STMG Mention Asser Bien, option SIG. <br> <br>
      🎓 2020-2021 - BTS SIO option SISR, en alternance dans l'entreprise Groupe-Lepine.</p>
  </div>
</script>
<script type="text/x-template" id="pentest-template">
	<div class="measure">
  	<p class="mt0">LOREM IPSUM LOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM LOREM IPSUMLOREM IPSUM.</p>
    <p class="mt0">LOREM IPSUM LOREM IPSUM    LOREM IPSUM   LOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM </p>
  </div>
</script>

<script type="text/x-template" id="disclaimer-template">
	<div class="measure">
  	<p class="mt0">DISCAIMER.</p>
    <p class="mt0">LOREM IPSUM LOREM IPSUM    LOREM IPSUM   LOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM </p>
  </div>
</script>

<!-- java en plus -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script src='https://cdn.rawgit.com/HugoGiraudel/Countdown.js/a88b61fc/countdown.min.js'></script><script  src="./script.js"></script>

</body>
</html>
